<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>[[${pageTitle}]]</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<body>
<div class="container-fluid">
  <div class="text-center"><h2>[[${pageTitle}]]</h2></div>

  <form th:action="@{/jogos/salvar}" method="post" th:object="${jogos}"
        style="max-width: 500px; margin: 0 auto;">
    <input type="hidden" th:field="*{id_jogo}">
    <div class="border border-secondary rounded p-3">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Nome</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{nome}" class="form-control" required maxlength="50"/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Gênero</label>
        <div class="col-sm-8">
          <input type="text" th:field="*{genero}" class="form-control" required maxlength="30" />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Preço (R$)</label>
        <div class="col-sm-8">
          <input type="number" th:field="*{preco}" class="form-control" required/>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary m-2">Salvar</button>
        <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancelar</button>
      </div>
    </div>

  </form>

</div>
<script type="text/javascript">
  function cancelForm() {
    window.location = "[[@{/jogos}]]";
  }
</script>
</body>
</html>